@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  color-scheme: only light;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background-color: #161616;
  color: white;
}

ul {
  list-style: none;
}

img {
  width: 50%;
}

/* nav-bar */

.nav-bar {
  max-width: 1200px;
  height: 10vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  padding-top: 0.2rem;
  display: flex;
  gap: 4rem;
}

a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  border-bottom: 3px solid #3100f0;
  padding-bottom: 0.5rem;
}

.talk-btn {
  font-family: poppins, sans-serif;
  height: 6vh;
  background-color: #1a188d;
  color: white;
  padding: 0.2rem 1.5rem;
  border: 2px solid #1a188d;
  border-radius: 20px;
  margin-right: 0.5rem;
}

.name {
  margin-left: 2rem;
}

button:hover {
  background-color: transparent;
}

/* main content */

/* introduction */

.parent-container1 {
  padding-top: 1.5rem;
  height: 700px;
  background-image: linear-gradient(to right, #000, #241b3d);
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1100px;
  height: 90vh;
}

.intro-h1 {
  font-size: 250%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.intro-p {
  word-spacing: 2px;
  letter-spacing: 1px;
}
.title {
  font-weight: 200;
  padding-bottom: 1.5rem;
}

.profile-photo {
  max-width: 23rem;
  border-radius: 50%;
  border: 3px solid #6ba4f0;
}

/* skills */

.parent-container2 {
  padding-top: 3rem;
  background-color: #000000;
  height: 550px;
}

.skills-h1 {
  display: flex;
  padding: 4% 0;
  justify-content: center;
  letter-spacing: ;
}

.skill-container {
  display: flex;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-container img {
  max-width: 30%;
}

.skill,
.skill-container,
.skill-container img {
  display: flex;
}

.skill-container {
  max-width: 800px;
  justify-content: center;
  margin: 1rem 0;
}

.skill {
  padding-top: 0.9rem;
}

/* Projects section */

.parent-container3 {
  display: flex;
  flex-direction: column;
  height: 2000px;
  background-image: linear-gradient(to bottom, black, #20084d);
  align-items: center;
}

.projects-h1 {
  padding: 5rem;
  padding-top: 10rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.project-container {
  display: flex;
  max-width: 1200px;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.project-description {
  max-width: 500px;
}

.left h2,
.left p {
  display: flex;
  justify-content: flex-end;
}

/* footer section */

footer {
  margin-top: 15rem;
}

.footer-container {
  display: flex;
  width: 100vw;
  height: 600px;
  background-color: #000000;
  opacity: 70%;
}
