@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Overall styling */

:root {
  color-scheme: only light;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #161616;
  font-size: medium;
  font-weight: 500;
}

/* Header */

nav {
  background-color: #161616;
  max-width: 1500px;
  margin: auto;
  padding: 1.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 2px solid #66fcf1;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
}

/* Header Links */

a {
  text-decoration: none;
}

.link a:hover {
  border-bottom: 2px solid #66fcf1;
  padding-bottom: 0.4rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

/* Header Buttons */

button {
  font-family: "Poppins", sans-serif;
}

button.btn:hover {
  background-color: #38868a;
}

.name {
  display: flex;
  max-width: 200px;
  color: #fff;
  margin-left: 1rem;
  height: 2.5rem;
  width: 3rem;
  border: 2px solid #fff;
  justify-content: center;
}

.btn {
  background-color: transparent;
  color: #fff;
  font-weight: 525;
  height: 2.25rem;
  width: 7rem;
  cursor: pointer;
  border-radius: 11px;
  border: 2px solid #66fcf1;
  margin-right: 1em;
}

/* Main content */

main {
  max-width: 1275px;
  margin: auto;
  padding: 2rem 5rem;
  color: #ffffff;
}

img {
  width: 100%;
  display: flex;
}

.introduction-section {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.intro-h1 {
  font-size: larger;
  max-width: 500px;
  overflow: visible;
  padding: 1rem 0;
}

.main-introduction {
  max-width: 600px;
  font-size: large;
  padding: 1rem 0;
}

.profile-photo {
  max-height: 400px;
  border-radius: 100%;
  margin-top: 3rem;
}
